.DS_Store
node_modules/
dist/
dist-*/
out/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
.idea/
.vscode/

# Electron
*.asar
resources/

# Build artifacts
*.dmg
*.pkg
*.zip
*.tar.gz

# Python build & caches
python/build/
python/tmp-storage/
python/**/*.egg-info/
python/**/__pycache__/

# Web build output
web/dist/
